@use "./variables" as *;

.settings {
  max-width: 600px;
  margin: 0 auto;

  .settings-card {
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    .ant-card-head-title {
      font-size: 24px;
      font-weight: 600;
    }

    .ant-form-item-label > label {
      font-weight: 500;
      font-size: 15px;
    }
  }
}

body.dark-theme {
  .settings {
    .settings-card {
      background: $dark-card-background;
      border-color: $dark-border-color;

      .ant-card-head {
        border-bottom-color: $dark-border-color;
      }
    }
  }
}
